* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: NotoSansM Nerd Font;
    font-weight: 600;
}

/* Waybar Window */
window#waybar {
    /* background: #285577; SWAY BG*/
    background-image: linear-gradient(90deg,  #0099ff,#ff14bd );
    color: #ffffff;
}

/* Global Buttons */
button {
    /* Use box-shadow instead of border so the text isn't offset */
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
}


/* Workspace Selector */
#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.3);
}

#workspaces button:hover {
    background: rgba(238, 238, 238, 0.2);
}

#workspaces button.active,
#workspaces button.visible {
    color: #ffffff;
    border: solid 1px cyan;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}


/* Clock */



/* Status Segments */
#window,
#power-profiles-daemon,
#idle_inhibitor,
#network,
#backlight,
#pulseaudio,
#temperature,
#memory,
#cpu,
#upower,
#clock,
#tray {
    padding-left: 15px;
    color: #ffffff;
    font-size: 15px;
}

#clock {
    padding-right: 15px;
}


#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}




