@import "./css/media.css";

label {
    font-weight: 600;
    font-family: 'Iosevka NF';
    font-size: 15px;
    padding-bottom: 0px;
}

.battery {
    padding: 0 6px;
    margin-right: 10px;
    background-color: #a9ff98;
    color: black;
}

.backlight {
    padding: 0 6px;
    margin-right: 10px;
    background-color: #6cf3ff;
    color: black;
}

.kernel {
    padding: 0 6px;
    margin-right: 10px;
    background-color: #79adff;
    color: black;
}

.bar {
    background-color: transparent;
}

window > box {
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.power {
    padding: 0 10px;
    padding-right: 14px;
    margin-right: 10px;
    border-radius: 50px;
    color: white;
    background-color: #fe218b;
    text-shadow: 0 0 3px black;
}

.apps {
    padding: 0 10px;
    padding-right: 14px;
    margin-right: 10px;
    border-radius: 50px;
    color: white;
    background-color: #fed700;
    text-shadow: 0 0 3px black;
}

.vm {
    padding: 0 10px;
    padding-right: 14px;
    margin-right: 10px;
    border-radius: 50px;
    background-color: #21b0fe;
    color: white;
    text-shadow: 0 0 3px black;
}

.power:hover,
.apps:hover,
.notibutton:hover,
.vm:hover {
/*     min-width: 50px; */
    min-height: 10px;
    text-shadow: 0 0 10px grey;
/*     border: 2px solid aqua;
 */}

.power:active,
.apps:active,
.notibutton:active,
.vm:active {
/*     min-width: 75px; */
    text-shadow: 0 0 100px white;
/*     border: 2px solid aqua;
 */}

.workspaces button {
    min-height: 5px;
    padding: 0 3px;
    margin-left: 3px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: transparent;
}

.workspaces button:hover {
    background-color: rgba(0, 0, 0, 0.75);
/*     min-width: 40px; */
}

.workspaces button:active {
    background-color: rgba(0, 0, 0, 0.85);
}

.workspaces button.focused {
    color: white;
    background-color: rgba(0, 0, 0, 0.70);
    border: 2px solid aqua;
    min-width: 50px;
}

.workspacebackground {
    background-color: transparent;
}

.client-title {
    margin-left: 1em;
    padding: 0 15px;
    border-radius: 10px;
    color: white;
    text-shadow: 0 0 3px black;
    background-color: rgba(0, 0, 0, 0.5);
}

.volume {
    padding: 0 6px;
    margin-right: 10px;
    background-color: #ff8b8b;
    color: black;
    
}

.network {
    padding: 0 6px;
    margin-right: 10px;
    background-color: #ffc176;
    color: black;
}

.bluetooth {
    padding: 0 6px;
    margin-right: 10px;
    background-color: #fbff84;
    color: black;
}

.clock {
    padding: 0 6px;
    margin-right: 10px;
    border-radius: 5px;
    color: white;
    background-color: #a08fff;
    color: black;
}

.ram {
    padding: 0 6px;
    margin-left: 15px;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    text-shadow: 0 0 3px black;
}

.cpu {
    padding: 0 6px;
    margin-left: 15px;
    border-radius: 5px;
    color: white;
    background: linear-gradient(to right, #00c6fb 0%, #005bea 100%);
    text-shadow: 0 0 3px black;
}

.temp {
    padding: 0 6px;
    margin-left: 15px;
    border-radius: 5px;
    color: white;
    background-image: linear-gradient(to right, #00a7de 0%, #fc00ff 100%);
    text-shadow: 0 0 3px black;
}

.tray button {
    margin-left: 10px;
    padding: 0 6px;
    border-radius: 0px;
    
    background: transparent;
    
}

.tray {
    background-color: transparent;
    margin-right: 10px;
}

.notibutton {
    padding: 0 6px;
    background-color: #eeff8b;
    color: black;
    
}






.launchernonrunning {
    background-color: transparent;
    color: transparent;
}

