* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Iosevka Nerd Font Propo;
    font-weight: 400;
    font-size: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Waybar Window */
window#waybar {
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

/* Global Buttons */
button {
    box-shadow: inset 0 -3px transparent;
    border-radius: 0px;
}


/* Workspace Selector */
#workspaces button {
    min-height: 1px;
    margin-left: 1px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: transparent;
    min-width: 20px;
    border: 2px solid transparent;
}

#workspaces button:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

#workspaces button.active {
    color: white;
    background-color: rgba(0, 0, 0, 0.70);
    border: 2px solid aqua;
    min-width: 40px;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

/* Status Segments */
#window,
#audio,
#power-profiles-daemon,
#idle_inhibitor,
#custom-apps,
#custom-power,
#network,
#backlight,
#temperature,
#memory,
#cpu,
#upower,
#clock,
#tray {
    padding: 0 15px;
    margin: 0 0px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}



#custom-power {
    background-color: #be0062;
}

#custom-apps {
    background-color: #008bf8;
}

#idle_inhibitor {
    background-color: #682eb9;
}

#power-profiles-daemon {
    background-color: #00b64c;
}

#audio {
    padding-right: 0px;
}

#cava {
    border: 2px solid cyan;
    background-image: linear-gradient(90deg, #009b1c 0%, #de9400 50%, #b80000 100%);
    border-radius: 10px;
    letter-spacing: 1px;
    margin-left: 15px;
    color: rgba(0, 0, 0, 0.4);
    padding: 0 5px;
}

/* CPU */
#cpu {
    background: linear-gradient(to right, #00c6fb 0%, #005bea 100%);
}

/* RAM */
#memory {
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

/* Temp */
#temperature {
    background-image: linear-gradient(to right, #00a7de 0%, #fc00ff 100%);
}


/* Hyperland title */
#window {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 0 10px;
    text-shadow: 0 0 3px black;
}

#tray {
    background: transparent;
}

#network {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

#clock {
    margin-left: 0px;
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}




