:root {
  --joplin-background-color3: #1D2024 !important;
  --joplin-background-color-hover3: #0085ff !important;
  --joplin-divider-color: #1D2024 !important;
  --joplin-selected-color: #0085ff !important;

	--headers: #8f97a7;
	--main: #282c34;
	--dark-main: #252930;
	--dark-main-selected: #6cb9cb;
	--h1: #8eb48e;
	--h2: #a3a0c9;
	--h3: #6db8b4;
	--h4: #f17d7d;
	--h5: #71eb71;
	--h6: #6783ff;
	--text: #adb6c4;
	--text-p: #d46a24;
	--image-text: #bb8968;
	--strong: #97e7b6;
	--links: #424f63;
	--url: #97b88b;
	--link-text: var(--yellow);
	--separator: #4d5b72;
	--tokens: #a683bd;
	--comment: #96acce;

  --joplin-font-family: "Iosevka NF";

}

.xknTJ {
  background-color: #1D2024 !important;
}

.eRwGUD {
  background-color: #1D2024 !important;
}

.dtFiFQ {
    border: none;
    background-color: #0085ff !important;
}

.rGEbE {
    border: 1px solid #0085ff !important;
    background-color: #1D2024 !important;
}

.rGEbE .sc-aXZVg {
    color: #0085ff !important;
}

.rGEbE .sc-fqkvVR {
    color: #0085ff !important;
}

.hzUGcv {
  border: 1px solid #0085ff !important;
}

.fRueuA {
  color: #0085ff !important;
}

.edjcDi {
  background: #0085ff !important;
}

.izrMvb {
  background: #0085ff !important;
}

.eibLdd {
  background: #0085ff !important;
}

.gXcbDC {
  background: #0085ff !important;
}

.editor-toolbar {
  background-color: #1D2024 !important;
}

.gRlcnJ {
  color: #0085ff !important;
}

.dEZmvG {
  color: #0085ff !important;
}

.iTdchv {
  color: #0085ff !important;
}

.dWsKKS {
  color: #0085ff !important;
}

.cqlwYH {
  background: #0085ff !important;
}

/* Notebook Hover Buttons, All-1-2-3-4 Position in Order */
.dIykJs:hover {
    background-color: #3b3b3b42 !important;
}

.fdNGI:hover {
    background-color: #3b3b3b42 !important;
}

.ecmWRF:hover {
    background-color: #3b3b3b42 !important;
}

.kJAKXD:hover {
    background-color: #3b3b3b42 !important;
}

.iTsWTZ:hover {
    background-color: #3b3b3b42 !important;
}

/*
Notebook Backgrounds All-1-2-3-4 Position in Order 
.fdNGI {
  background: #d0f4de !important;
}

.edjcDi {
  background: #fcf6bd !important;
}

.ecmWRF {
  background: #a9def9 !important;
}

.kJAKXD {
  background: #ff99c8 !important;
}

.iTsWTZ {
  background: #e4c1f9 !important;
} 
*/

/* Notebook and tags background 
.eENMOW {
  background: white;
}
*/

  /* Rainbow Background of sidebar, comment for grey */
/*.xknTJ {
    background: linear-gradient(45deg, hsl(165,64%,69%),hsl(255,64%,69%),hsl(345,64%,69%),hsl(75,64%,69%));
}*/

.rMfzC {
    border: none;
    background-color: #0085ff;
}

.bGQwjq {
    border: 1px solid #3b74df;
    background-color: #1D2024;
}

.bGQwjq .sc-aXZVg {
    color: #0085ff;
}

.bGQwjq .sc-fqkvVR {
    color: #0085ff;
}

/* Making the note and todo background lighter grey */
.iCezTc {
    background-color: #1d2024 !important;
}

/* No note selected new note background turning blue */
.rMfzC {
    background-color: #0085ff !important;
}

/* Same as above but for new todo (3 below) */
.bGQwjq {
    border: 1px solid #0085ff !important;
}

.bGQwjq .sc-fqkvVR {
    color: #0085ff !important;
}

.bGQwjq .sc-aXZVg {
    color: #0085ff !important;
}

/* Inactive note bg lighter grey, kind of a bandaid fix but whatever (welp, messed this up but fixed now) */
.DnUmE {
    background-color: #1d2024 !important;
}
/*
.editor-toolbar .button, .header .button {
  border: 0px solid rgb(43 43 43) !important;
}

.joplin-tinymce .tox-toolbar__group {
    background-color: #1D2024;
    padding-top: 6px;
    padding-bottom: 6px;
}

.joplin-tinymce .tox .tox-toolbar__primary {
    background: none;
    background-color: #1d2024 !important;
}
*/








/* Normal Text */
.cm-s-material-darker .cm-variable-2 {
	color: var(--text) !important;
}

/* .cm-s-material-darker span{
	color: var(--text-p) !important;
} */
.cm-s-material-darker .cm-variable {
	color: #82b1c2 !important;
}

/* .cm-s-material-darker .cm-variable-2 {
	color: var(--tokens) !important;
} */

span.cm-comment.cm-variable-2 {
	color: var(--primary) !important;
}

.cm-s-material-darker span.cm-atom {
	color: #b48ead !important;
}

.cm-s-material-darker span.cm-number {
	color: #b48ead !important;
}

.cm-s-material-darker span.cm-property,
.cm-s-material-darker span.cm-attribute {
	color: #8FBCBB !important;
}

.cm-s-material-darker span.cm-keyword {
	color: #5c93a3 !important;
}

.cm-s-material-darker span.cm-builtin {
	color: #81A1C1 !important;
}

.cm-s-material-darker span.cm-string {
	color: #A3BE8C !important;
}

.cm-s-material-darker span.cm-def {
	color: #7cbbd1 !important;
}

.cm-s-material-darker span.cm-bracket {
	color: #81A1C1 !important;
}

.cm-s-material-darker span.cm-tag {
	color: #bf616a !important;
}

.cm-s-material-darker span.cm-operator {
	color: #7896b4 !important;
}

/* HEADERS */
.cm-s-material-darker .cm-header.cm-rm-header-token {
	display: none !important;
}

.cm-s-material-darker .cm-header.cm-rm-header-token+span::before {
	opacity: 0.25 !important;
	margin-left: -24px !important;
	font-size: var(--header-size) !important;
}

.cm-s-material-darker .cm-rm-header-token.cm-header-1+span::before {
	content: 'h1 ' !important;
}

.cm-s-material-darker .cm-rm-header-token.cm-header-2+span::before {
	content: 'h2 ' !important;
}

.cm-s-material-darker .cm-rm-header-token.cm-header-3+span::before {
	content: 'h3 ' !important;
}

.cm-s-material-darker .cm-rm-header-token.cm-header-4+span::before {
	content: 'h4 ' !important;
}

.cm-s-material-darker .cm-rm-header-token.cm-header-5+span::before {
	content: 'h5 ' !important;
}

.cm-s-material-darker .cm-rm-header-token.cm-header-6+span::before {
	content: 'h6 ' !important;
}


.cm-s-material-darker span.cm-header-1 {
	color: var(--h1) !important;
}

.cm-s-material-darker span.cm-header-2 {
	color: var(--h2) !important;
}

.cm-s-material-darker span.cm-header-3 {
	color: var(--h3) !important;
}

.cm-s-material-darker span.cm-header-4 {
	color: var(--h4) !important;
}

.cm-s-material-darker span.cm-header-5 {
	color: var(--h5) !important;
}

.cm-s-material-darker span.cm-header-6 {
	color: var(--h6) !important;
}

/* Strong(bold) */
.cm-variable-2.cm-strong,
.cm-strong {
	color: var(--strong) !important;
}

/* Links */
.cm-s-material-darker .cm-rm-link {
	color: var(--url) !important;
}

.cm-s-material-darker .cm-url.cm-rm-link {
	color: var(--links) !important;
}
